@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Metropolis', sans-serif;
}

div#root {
  min-height: 100vh;
  padding-bottom: 30px;
}
